<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>回線接続将棋</title>
  <script type="text/javascript" src="/assets/js/p5.js"></script>
  <script type="text/javascript" src="/assets/js/p5.sound.min.js"></script>
  <script type="text/javascript" src="/assets/js/sketch.js"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>
</head>
<body>
<h1>回線接続将棋</h1>
<p>現在<span id="game_turn"><%=@game_turn%></span>手目です</p>
<p>あなたは<span id="player"><%=session[:tern]%></span>です。</p>
<p id="counter"></p>
</body>
</html>
