<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Access_Counter</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script type="text/javascript" src="/assets/js/p5.js"></script>
  <script type="text/javascript" src="/assets/js/p5.sound.min.js"></script>
  <script type="text/javascript" src="/assets/js/sketch.js"></script>
  <%# <script type="text/javascript" src="/assets/js/main.js"></script> %>
</head>
<body>
<h1>アクセスカウンター</h1>
<p id="counter"></p>
</body>
</html>
